# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Environment files
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Pytest
.pytest_cache/

# Alembic cache
*.sqlite3

# Docker
postgres_data/

# Coverage
.coverage
htmlcov/

# Logs
*.log
